body {
    background: rgb(255, 117, 214);
    font: normal 15en arial;
}
header {
    color: white;
    text-align: center;

}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px px rgba(71, 1, 71, 0.589);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}